.container{
    font-family: 'Do Hyeon', sans-serif;
}

p{
    text-align: center;
    font-size: 18px;
}

.btn-group-vertical{
    display: block;
    margin: auto;
    width: 70%;
    background-color: white;
}

.menubox{
    margin: auto;
    height: 300px;
    width: 70%;
}

.menubtn{
    display: block;
    float: right;
    line-height: 300px;
}

.intro{
    padding: 30px .4em;
}

label{
    width: 1px;
}

#todaymenu {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    align-items: center;
}
#todaymenu img {
    width: 200px;
    margin-left: 12px;;
}
#todaymenu span {
    font-size: 24px;
}

#parentdiv .meal-sub,
#parentdiv .kind-sub,
#parentdiv .hotcold-sub {
    display: none;
}

#parentdiv.meal .meal-sub,
#parentdiv.meal.kind .kind-sub,
#parentdiv.meal.hotcold .hotcold-sub {
    display: inline-flex;
}

.hidden{
    color: gray;
    font-size: small;
}